body{
    background-color: rgb(226, 148, 30);
}
h1{
    font-size: 30px; 
    color: #b689f5;}
h2{
    color: rebeccapurple;
    font-size: 60px;}
p{
    color: aqua; 
    font-size: xx-small;}
.b{
    font-size: 50px;
    color: blue;}
